<section>
    <div class="container">
        <div class="back">←</div>
        <h1>Edición de libro</h1>

        <div class="profile-icon">
            ​📚​
        </div>

        <h2>Editar libro</h2>

        <div id="edit-response">

        </div>

        <form id="edit-book-form">
            <div class="form-group">
                <label for="bookName">Nombre del libro</label>
                <input type="text" id="book-name1" name="bookName" placeholder="Escriba el nombre del libro">
            </div>

            <div class="form-group">
                <label for="bookAuthor">Autor del libro</label>
                <input type="text" id="book-author1" name="bookAuthor" placeholder="Escriba el autor del libro">
            </div>

            <div class="form-group">
                <label for="quantity">Cantidad disponible</label>
                <input type="number" id="quantity-book1" name="quantity" placeholder="Escriba la cantidad disponible">
            </div>

            <div class="buttons">
                <button type="button" onclick="editBook(this)" id="btn-edit-book">Editar libro</button>
            </div>
        </form>
    </div>
</section>
