<section>
    <div class="container">
        <div class="back">←</div>
        <h1>Agregar libro</h1>

        <div class="profile-icon">
            ​📚​
        </div>

        <h2>Registrar nuevo libro</h2>

        <div id="books-response">

        </div>

        <form id="new-book-form">
            <div class="form-group">
                <label for="name">Nombre del libro</label>
                <input type="text" id="book-name" name="name" placeholder="Escriba el nombre del libro">
            </div>

            <div class="form-group">
                <label for="name">Autor del libro</label>
                <input type="text" id="book-author" name="doc" placeholder="Escriba el autor del libro">
            </div>

            <div class="form-group">
                <label for="email">Cantidad disponible</label>
                <input type="email" id="quantity-book" name="email" placeholder="Escriba la cantidad disponible">
            </div>

            <div class="buttons">
                <button type="button" onclick="addBook(this)" id="btn-add-book">Agregar libro</button>
            </div>
        </form>
    </div>
</section>
