<section>
    <div class="container">
        <div class="back">←</div>
        <h1>Registro de administrador</h1>

        <div class="profile-icon">
            👤
        </div>

        <h2>NUEVO ADMINISTRADOR</h2>

        <div id="responseNewAdmin">

        </div>

        <form id="registerNewAdminForm">
            <div class="form-group">
                <label for="name">Usuario</label>
                <input type="text" id="nameNewAdmin" placeholder="Escriba su nombre">
            </div>

            <div class="form-group">
                <label for="email">Correo electrónico</label>
                <input type="email" id="emailNewAdmin" placeholder="Escriba su correo">
            </div> 

            <div class="form-group">
                <label for="admission">Contraseña</label>
                <input type="password" id="passwordNewAdmin" >
            </div>

            <div class="buttons">
                <button onclick="registerAdmin()" id="btn-registerAdmin">Registrarse</button>
            </div>
        </form>
    </div>
</section>